    <footer>
    <div class="footer_background paige-container px-5">
      <div class="d-flex justify-content-between">
        <div class="logo_links p-2 btn btn-flat">
          <h4 class ="logo-color">AirWigs</h4>
        </div>
          <div class="py-3">

              <a class= "logo_links" href="https://www.instagram.com/" target="_blank">
              <i class="fa-brands fa-instagram" style="color:#0000008c"></i>
              </a>
              <a class="logo_links" href="https://www.facebbok.com/" target="_blank">
              <i class="fa-brands fa-facebook" style="color:#0000008c"></i>
              </a>
              <a class= "logo_links" href="https://www.twitter.com/" target="_blank">
              <i class="fa-brands fa-twitter" style="color:#0000008c"></i>
              </a>
          </div>
        </div>
      </div>
    </div>
    </footer>
